#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.button-container {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-container {
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.sign-in-info-container {
  display: flex;
  flex-direction: column;
  border-radius: 27px;
  padding: 20px;
  padding-top:12px;
  background-color: rgb(246, 246, 246);
}

.sign-in-text {
  font-size: 1rem;
  text-align: left;
}

.site-name {
  padding: 20px;
}

.site-title {
  margin: 0px;
}

.site-tagline {
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}

.sign-in-input {
  font-size: 1em;
  font-family: inherit;
  border-radius: 8px;
  border: 1px solid rgb(201, 201, 201);
  padding: 0.6em 1.2em;
  margin-bottom: 12px;
  text-align: left;
}

.sign-in-button {
  background-color: black;
  color: white;
  margin: 20px;
  border-radius: 27px;
  font-size: 1.2em;
}

.maps-input {
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid rgb(246, 246, 246);
  background-color: transparent;
  padding: 0.6em 1.2em;
  margin: 12px;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: left;
  font-size: 1.2em;
}

.maps-button {
  margin: 12px;
  margin-bottom: 0px;
  padding-left: 80px;
  padding-right: 80px;
  color: white;
  border-radius: 27pt;
  font-size: 1.7em;
}

.map-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-button-container {
  background-color: rgb(246, 246, 246);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 14pt;
}

.map-button-container hr {
  height: 0.2px;
  width: 85%;
  margin-right: 20px;
}

.map-button-container-bottom {
  margin-bottom: 20px
}

.map-button-container-detour {
  background-color: rgb(246, 246, 246);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 14pt;
}

.map-button-container-detour hr {
  height: 0.2px;
  width: 85%;
  margin-right: 20px;
}

.maps-button-find-route {
  margin: 12px;
  margin-bottom: 0px;
  padding-left: 80px;
  padding-right: 80px;
  color: white;
  background-color: #3DB467;
  border-radius: 27pt;
  font-size: 1.5em;
}

.maps-button-start-route {
  margin: 12px;
  margin-bottom: 0px;
  padding-left: 80px;
  padding-right: 80px;
  color: white;
  background-color: #3DB467;
  border-radius: 27pt;
  font-size: 1.5em;
}

.total-travel-time {
  margin-top: 8px;
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top: 100px;
  text-align: center;
}

.leaderboard-container h2 {
  font-size: 2.5em;
  color: #333;
}

.stats-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.stats-container h3 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333;
}

.stats-container p {
  font-size: 18px;
  margin: 5px 0;
  color: #555;
}

.leaderboard-submit {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 27pt;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

.leaderboard-submit:disabled {
  background-color: #ccc;
}

.leaderboard-table-container {
  overflow-x: auto;
  width: 100%;
}

.leaderboard-table {
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ddd;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 12pt;
}

.leaderboard-table th {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  font-size: 10pt;
}

.leaderboard-table tr:hover {
  background-color: #f1f1f1;
}

.leaderboard-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.leaderboard-table tr:nth-child(odd) {
  background-color: #ffffff;
}